
        h1 {text-align: center;}
         p {text-align: center;}
          body{
         color:rgb(255, 155, 5);
         background-color: rgb(67, 50, 253)}

body {
    background-color: chocolate;
    font-family: sans-serif
}