        h1 {text-align: center;}
         p {text-align: center;}
          body{
         color:rgb(255, 255, 255);
         background-color: rgb(0, 0, 0)}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
}

a {
    text-decoration: wavy;
    color:rgb(255, 255, 255)
}