h1 {text-align: center;}
p {text-align: center;}

body {
      background-image: url('taust.png');
      background-size: cover;
      width: 160px;
      height: 160px;
      border: 2px solid;
      color: pink;
      resize: both;
      overflow: scroll;
}

a {
text-decoration: wavy;
color:rgb(9, 255, 0)
}

div{
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    border: 5px;
    float: left;
}
